.filters {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.filtersLeft {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.filtersRight {
    display: flex;
    align-items: center;
}

.series select {
    padding: 5.6px 12px;
    height: 100%;
    border: 1px solid #dd092f;
    color: #dd092f;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
}

.series select:focus {
    outline: none;
}

.mode {
    display: flex;
    justify-content: flex-end;
}

.option {
    display: inline-block;
    padding: 4px 16px;
    background: white;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #dd092f;
    color: #dd092f;
}

.option:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.option:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.option.active {
    background-color: #dd092f;
    color: white;
}

.paginationContainer {
    text-align: center;
    margin-top: 24px;
}

.paginationControls {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.paginationText {
    color: #393939;
    font-weight: 500;
    font-size: 16px;
}

.noResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    text-align: center;
}