@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: #393939;
}

.row {
  margin-bottom: 32px !important;
}

.button {
  border: 2px solid #dd092f;
  color: #dd092f;
  background-color: white;
  border-radius: 8px;
  padding: 4px 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.button:hover {
  background-color: #dd092f;
  color: white;
}

.exploreButton {
  border: 2px solid #dd092f;
  color: #dd092f;
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.exploreButton:hover {
  background-color: #dd092f;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color:#393939;
  text-align: center;
  padding: 10px;
}

h2{
  line-height: 1.1;
  font-weight: 500;
  color:#393939;
  text-align: left;
  padding-bottom: 10px;
  color: #dd092f;
}

.spinnerContainer {
  display: flex;
  justifyContent: center;
  alignItems: center;
  height: 200px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #dd092f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.noResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  text-align: center;
}