.table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 30%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 30%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 20%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 10%;
}

.table th:last-child,
.table td:last-child {
    width: 10%;
    text-align: center;
}